{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block title %}Full page landings{% endblock %}
{% block base_body %}

{% compress js %}
    <script src="{% static 'js/tableHide.js' %}"></script>
{% endcompress js %}

{% compress css %}
    <link rel="stylesheet" href="{% static 'css/tableStyle.css' %}">
{% endcompress css %}

<div class="uk-container uk-container-center">
    <div class="uk-width-1-1 uk-text-center uk-text-small">
        <span class="uk-text-large">Search...</span>
        <form class="uk-form contact-form" method="post" action="">
            {% csrf_token %}
            <div class="uk-grid uk-grid-center uk-grid-preserve" data-uk-grid-margin>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
{#                            <select>#}
{#                                {% for foo in distinct_landing %}#}
{#                                    <option>{{ foo.domen }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
                            {{ landing_filter_form.domen.label }} {{ landing_filter_form.domen }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
{#                            <select>#}
{#                                {% for bar in server_path_from_domen %}#}
{#                                    <option>{{ bar.server_path }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
                            {{ landing_filter_form.server_path.label }} <br> {{ landing_filter_form.server_path }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.link.label }} {{ landing_filter_form.link }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.phoneIsPic.label }} <br> {{ landing_filter_form.phoneIsPic }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.phoneIsText.label }} <br> {{ landing_filter_form.phoneIsText }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.emailIsPic.label }} <br> {{ landing_filter_form.emailIsPic }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.emailIsText.label }} <br> {{ landing_filter_form.emailIsText }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.visit.label }} <br> {{ landing_filter_form.visit }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.piwik.label }} <br> {{ landing_filter_form.piwik }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.piwikNumber.label }} {{ landing_filter_form.piwikNumber }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.logoId.label }} <br> {{ landing_filter_form.logoId }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.freeAmmount.label }} <br> {{ landing_filter_form.freeAmmount }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.bonus.label }} <br> {{ landing_filter_form.bonus }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.bonus2.label }} <br> {{ landing_filter_form.bonus2 }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.bonus3.label }} <br> {{ landing_filter_form.bonus3 }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.currency.label }} <br> {{ landing_filter_form.currency }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.liveChat.label }} <br> {{ landing_filter_form.liveChat }}
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3 uk-align-center">
                    <div class="uk-form-row uk-margin-small">
                        <div class="uk-width-1-2">
                            {{ landing_filter_form.regForm.label }} <br> {{ landing_filter_form.regForm }}
                        </div>
                    </div>
                </div>
            </div>
            <input class="uk-button uk-button-primary" type="submit" name="submit" value="Show">
        </form>
    </div>
</div>

<br />

    <table class="tg" style="margin-left: 35px;">
      <tr>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
        <th class="tg-031e"><input type="checkbox"></th>
      </tr>
      <tr>
        <th class="tg-031e">№</th>
        <th class="tg-031e">Domain</th>
        <th class="tg-031e">Server path</th>
        <th class="tg-031e">Link URI</th>
        <th class="tg-031e vertical-text">Phone is pic</th>
        <th class="tg-031e vertical-text">Phone is text</th>
        <th class="tg-031e">Link phone</th>
        <th class="tg-031e vertical-text">Email is pic</th>
        <th class="tg-031e vertical-text">Email is text</th>
        <th class="tg-031e">Link email</th>
        <th class="tg-031e vertical-text">Visit</th>
        <th class="tg-031e">Visit Link</th>
        <th class="tg-031e">Visit Domain</th>
        <th class="tg-031e vertical-text">piwik</th>
        <th class="tg-031e">piwik number</th>
        <th class="tg-031e vertical-text">logoid</th>
        <th class="tg-031e vertical-text">free_amount()</th>
        <th class="tg-031e vertical-text">bonus</th>
        <th class="tg-031e vertical-text">bonus2</th>
        <th class="tg-031e vertical-text">bonus3</th>
        <th class="tg-031e vertical-text">Currency</th>
        <th class="tg-031e vertical-text">liveChat</th>
        <th class="tg-031e">serverPathFile</th>
        <th class="tg-031e vertical-text">Register form</th>
      </tr>
{% if landing %}
    {% for list in landing %}
      <tr>
        <td class="tg-031e">{{ list.id }}</td>
        <td class="tg-031e">{{ list.domen }}</td>
        <td class="tg-031e">{{ list.server_path }}</td>
        <td class="tg-031e"><a href="{{ list.link }}">{{ list.link }}</a></td>
        <td class="tg-031e">
            {% if list.phoneIsPic %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">
            {% if list.phoneIsText %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">{{ list.linkPhonePic }}</td>
        <td class="tg-031e">
            {% if list.emailIsPic %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">
            {% if list.emailIsText %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">{{ list.linkEmailPic }}</td>
        <td class="tg-031e">
            {% if list.visit %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">{{ list.visitLink }}</td>
        <td class="tg-031e">{{ list.visitDomain }}</td>
        <td class="tg-031e">
            {% if list.piwik %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">
            {% if list.piwikNumber %}
                <center>{{ list.piwikNumber }}</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">
            {% if list.logoId %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">
            {% if list.freeAmmount %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">
            {% if list.bonus %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">
            {% if list.bonus2 %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}</td>
        <td class="tg-031e">
            {% if list.bonus3 %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">
            {% if list.currency %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">
            {% if list.liveChat %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
        <td class="tg-031e">{{ list.serverPathFile }}</td>
        <td class="tg-031e">
            {% if list.regForm %}
                <center>+</center>
            {% else %}
                <center>-</center>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
{% else %}
    <center>
        <li class="uk-text-justify uk-text-large uk-align-center">Records not found!</li>
        <img src="{% static 'img/homer.png' %}">
    </center>
{% endif %}
    </table>

{% endblock %}
