.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:sans-serif, sans-serif;font-size:8px;padding:auto;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:sans-serif, sans-serif;font-size:8px;font-weight:normal;padding:auto;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.vertical-text {
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    bottom:0;
    width:20px;
    height:20px;
    max-width: 15px;
}
